@charset "UTF-8";
@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url(../../fonts/Inter/Inter.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url(../../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  src: url(../../fonts/Bebas_Neue/Bebas\ Neue.ttf);
}
* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-image: url("../../img/poster img.png");
  background-repeat: no-repeat;
}

.container {
  max-width: 66.8vw;
  margin: 0 auto;
}

.header {
  background-repeat: no-repeat;
}

.navbar {
  padding: 28px 0;
  align-items: center;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu_extra-large {
  display: none;
}
.navbar-menu_extra-extra-large {
  display: none;
}
.navbar-menu-items {
  display: flex;
  justify-content: space-between;
  min-width: 947px;
}
.navbar-menu__primary {
  display: flex;
  justify-content: space-between;
  min-width: 615px;
  align-items: center;
}
.navbar-menu__secondary {
  display: flex;
  gap: 24px;
}
.navbar-menu__item {
  list-style-type: none;
}
.navbar-menu__item-link {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  text-transform: uppercase;
}
.navbar-menu__item-link_hover:hover {
  color: #f57520;
}
.navbar-menu__item-icon {
  vertical-align: middle;
}
.navbar-menu__item-icon_hover:hover {
  filter: invert(50%) sepia(79%) saturate(2514%) hue-rotate(350deg) brightness(107%) contrast(92%);
}
.navbar-menu__burger-icon {
  vertical-align: middle;
}
.navbar-menu__burger-icon_hover:hover {
  filter: invert(50%) sepia(79%) saturate(2514%) hue-rotate(350deg) brightness(107%) contrast(92%);
}

.poster {
  padding-top: 70px;
  padding-bottom: 106px;
}
.poster-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 110px;
}
.poster-info__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.poster-info__text-title {
  width: min-content;
  color: white;
  font-family: Bebas Neue;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 2.2px;
}
.poster-info__text-descriprion {
  width: 630px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.18px;
}
.poster__form-button {
  cursor: pointer;
  border-radius: 10px;
  background: #f57520;
  border: none;
  padding: 16px 45.5px;
  width: min-content;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}
.poster__form-button_hover:hover {
  background: #f5a020;
}
.poster-swiper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.poster-swiper_hover:hover {
  align-items: center;
}
.poster-swiper__item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4c4c4c;
  transition: 0.3s;
}
.poster-swiper__item-1 {
  width: 18px;
  height: 18px;
  background-color: #f57520;
}
.poster-swiper__item_hover:hover {
  width: 18px;
  height: 18px;
  background-color: #fff;
  transition: 0.3s;
}

.banners {
  display: flex;
  justify-content: center;
  height: 212px;
}

.banner {
  background-color: #131313;
}
.banner-first {
  padding: 48px 86px 50px 368px;
  flex: 2 2;
}
.banner-second {
  padding: 48px 102px 88px 48px;
  flex: 2 1;
}
.banner-third {
  padding: 48px 372px 88px 48px;
  flex: 2 2;
  background-color: #2e2e2e;
}
.banner__description-first {
  max-width: 293px;
  text-align: left;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.24px;
}
.banner__description-second {
  max-width: 277px;
  text-align: left;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.24px;
}
.banner__description-third {
  width: max-content;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.24px;
}

.partner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 66px;
}
.partner__img {
  width: fit-content;
  height: fit-content;
}

.innovation {
  background-color: #f8f8f8;
  padding: 80px 0;
}
.innovation__title {
  margin-bottom: 56px;
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
}
.innovation-cards {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.innovation-cards__link {
  text-decoration: none;
}
.innovation-card {
  min-height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  max-width: 400px;
  padding: 16px;
}
.innovation-card__title-info {
  display: flex;
  justify-content: space-between;
}
.innovation-card__title-flag {
  margin: -16px 0 0 -16px;
  border-radius: 10px 0px 10px 0px;
}
.innovation-card__title-availability {
  align-self: center;
  color: #f53a20;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.innovation-card:last-of-type .innovation-card__title-availability {
  color: #4d932c;
}
.innovation-card__picture {
  align-self: center;
}
.innovation-card__description {
  margin-bottom: 24px;
  align-self: left;
  width: 349px;
  color: #101010;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.18px;
}
.innovation-card__price {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}
.innovation-card-1 {
  transition: 0.5s;
}
.innovation-card-1_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}
.innovation-card-2 {
  transition: 0.5s;
}
.innovation-card-2_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}
.innovation-card-3 {
  transition: 0.5s;
}
.innovation-card-3_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}
.innovation__expand-content {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  color: #777;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.catalog {
  background-color: #fff;
  padding: 150px 0 0;
}
.catalog__lower-links {
  gap: 16px;
  display: flex;
  justify-content: center;
}
.catalog__lower-links-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog__lower-links-3 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 160px;
}
.catalog__title {
  margin-bottom: 67px;
  color: #101010;
  font-family: "Bebas Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 123%;
  letter-spacing: 3.2px;
}
.catalog__link {
  display: block;
  text-decoration: none;
}
.catalog__item {
  display: flex;
  border-radius: 10px;
}
.catalog__item-1 {
  width: 1120px;
  padding: 0 80px;
  align-items: center;
  justify-content: flex-start;
  gap: 37px;
  background: #f57520;
  background-image: url("../../img/bike.png");
  background-repeat: no-repeat;
  background-position: right 75px center;
  height: 300px;
}
.catalog__item-2 {
  flex-direction: column;
  background: #101010;
  background-image: url("../../img/catalog-bike2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 80px 93px 0;
  height: 378px;
}
.catalog__item-3 {
  max-width: 400px;
  min-width: 0;
  padding: 67px 131px 0 40px;
  background: #101010;
  background-image: url("../../img/wheel.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 123px;
}
.catalog__item-4 {
  flex-direction: column-reverse;
  height: 223px;
  justify-content: space-between;
  background: #101010;
  background-image: url("../../img/image 40.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0 67px 29px 40px;
}
.catalog__item-5 {
  padding: 40px 118px 0px 40px;
  background: #101010;
  flex-direction: column;
  height: 199px;
  background-image: url("../../img/шлем.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.catalog__item-6 {
  height: 163px;
  background: #101010;
  background-image: url("../../img/велостанок.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 163px;
  padding: 40px 118px 0 40px;
}
.catalog__item-title {
  text-decoration: none;
  color: #fff;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.2px;
}

.company {
  background-color: #fff;
}
.company__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.company__info-title {
  vertical-align: top;
  max-width: 620px;
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
}
.company__info-description {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.company__info-description-text {
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.company__info-description-link {
  text-decoration: none;
  color: #b3b3b3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}
.company__video {
  max-width: 100vw;
  max-height: 600px;
}
.company__advantages {
  margin-top: -5px;
  padding: 36px 0;
  background-color: #2e2e2e;
}
.company__advantages-cards {
  display: flex;
  justify-content: space-between;
}
.company__advantages-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.company__advantages-card-description {
  max-width: 274px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.company__advantages-card-title-info {
  display: flex;
  gap: 16px;
}
.company__advantages-card-title-info-icon {
  width: 40px;
  height: 40px;
}
.company__advantages-card-title-info-description {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.best-models {
  background-color: #101010;
  padding: 80px 0px;
}
.best-models__title {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  max-width: 418px;
}
.best-models-cards {
  display: flex;
  justify-content: right;
  gap: 40px;
  margin-top: -57px;
  margin-right: -10px;
}
.best-models-cards__link {
  text-decoration: none;
}
.best-models-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
}
.best-models-card__title-info {
  display: flex;
  justify-content: space-between;
}
.best-models-card__title-flag {
  margin: -16px 0 0 -16px;
  border-radius: 10px 0px 10px 0px;
}
.best-models-card__title-availability {
  align-self: center;
  color: #f53a20;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.best-models-card:last-of-type .innovation-card__title-availability {
  color: #4d932c;
}
.best-models-card__picture {
  align-self: center;
}
.best-models-card__description {
  margin-bottom: 24px;
  align-self: left;
  width: 349px;
  color: #101010;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.18px;
}
.best-models-card__price {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}
.best-models-card-1 {
  transition: 0.5s;
}
.best-models-card-1_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}
.best-models-card-2 {
  transition: 0.5s;
}
.best-models-card-2_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}
.best-models-card-3 {
  transition: 0.5s;
}
.best-models-card-3_hover:hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 39px 235px 67px 0px rgba(186, 186, 186, 0), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 2px 9px 21px 0px rgba(186, 186, 186, 0.1), 0px 0px 0px 0px rgba(186, 186, 186, 0.1);
}

.mountain-bikes {
  background: #f8f8f8;
  padding: 115px 0px 80px;
}
.mountain-bikes__title {
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  max-width: min-content;
  margin-bottom: 60px;
}
.mountain-bikes__content {
  display: flex;
  justify-content: space-between;
}
.mountain-bikes__content-cards {
  display: grid;
  grid-template-areas: "card-1 card-2" "card-3 card-4";
  gap: 16px;
}
.mountain-bikes__content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  background-color: #34312d;
  border-radius: 10px;
  width: 246px;
  height: 177px;
}
.mountain-bikes__content-card-1 {
  grid-area: card-1;
}
.mountain-bikes__content-card-2 {
  grid-area: card-2;
}
.mountain-bikes__content-card-3 {
  grid-area: card-3;
}
.mountain-bikes__content-card-4 {
  grid-area: card-4;
}
.mountain-bikes__content-card-title {
  display: flex;
  justify-content: space-between;
}
.mountain-bikes__content-card-title-text {
  align-content: center;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.2px;
}
.mountain-bikes__content-card-description {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.mountain-bikes__content-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mountain-bikes__content-description-text {
  width: 510px;
  color: #4c4c4c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.mountain-bikes__content-description-button {
  cursor: pointer;
  border-radius: 10px;
  background: #f57520;
  border: none;
  padding: 16px 45.5px;
  width: min-content;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
  padding: 16px 60px;
}
.mountain-bikes__content-description-button_hover:hover {
  background: #f5a020;
}

.advantages {
  background: #fff;
  padding: 155px 0;
}
.advantages__title {
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  margin-bottom: 60px;
}
.advantages__content {
  display: flex;
  justify-content: space-between;
}
.advantages__content-cards {
  display: grid;
  grid-template-areas: "advantages_card-1 advantages_card-2" "advantages_card-3 advantages_card-4";
  gap: 40px;
}
.advantages__content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #eb6b16;
  width: 224px;
  height: 201px;
  padding: 33px;
}
.advantages__content-card-1 {
  grid-area: advantages_card-1;
}
.advantages__content-card-2 {
  grid-area: advantages_card-2;
}
.advantages__content-card-3 {
  grid-area: advantages_card-3;
}
.advantages__content-card-4 {
  grid-area: advantages_card-4;
}
.advantages__content-card-title {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.2px;
  width: 94px;
}
.advantages__content-card-description {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.advantages__content-card-link {
  width: max-content;
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}

.equipment {
  background-color: #f8f8f8;
  padding: 80px 0;
}
.equipment__title {
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  margin-bottom: 70px;
}
.equipment__expand-content {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  color: #777;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.recent-reviews {
  background: #fff;
  padding: 130px 0 80px;
}
.recent-reviews__title {
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  margin-bottom: 60px;
}
.recent-reviews__cards {
  margin-bottom: 48px;
  display: flex;
  gap: 40px;
}
.recent-reviews__card {
  width: 400px;
  height: 462px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #101010;
}
.recent-reviews__card-picture {
  border-radius: 10px 10px 0 0;
}
.recent-reviews__card-content {
  padding: 24px 27px 35px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recent-reviews__card-content-info {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.recent-reviews__card-content-info-date {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.recent-reviews__card-content-info-hashtag {
  color: #f57520;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.recent-reviews__card-content-info-title {
  color: #fff;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.18px;
}
.recent-reviews__card-content-expand-content {
  width: max-content;
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.recent-reviews__expand-content {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  color: #777;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

.contacts {
  background: #f8f8f8;
  padding: 80px 0 80px;
}
.contacts__title {
  color: #101010;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  margin-bottom: 60px;
}
.contacts__map {
  margin-bottom: 40px;
}
.contacts__info-cards {
  display: flex;
  justify-content: space-between;
}
.contacts__info-card {
  width: 215px;
  display: flex;
  gap: 16px;
}
.contacts__info-card-picture {
  align-self: self-start;
}
.contacts__info-card-numbers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts__info-card-number {
  color: #101010;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.contacts__info-card-adress {
  width: 167px;
  color: #101010;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.contacts__info-card-email {
  color: #101010;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.contacts__info-card-datetime {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.feedback {
  padding: 40px 0;
  background: #131313;
  background-image: url("../../img/news.png");
  background-repeat: no-repeat;
  background-position: right 12% center;
}
.feedback__info-title {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 3.2px;
  margin-bottom: 32px;
}
.feedback__info-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.feedback__info-form-textform {
  display: flex;
  gap: 16px;
}
.feedback__info-form-input {
  width: 346px;
  height: 46px;
  box-sizing: border-box;
  background: #fff;
  padding: 10px 16px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border: none;
  border-radius: 5px;
}
.feedback__info-form-input_active:active {
  cursor: text;
}
.feedback__info-form-input_placeholder::placeholder {
  color: #b3b3b3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.feedback__info-form-input_focus:focus::-webkit-input-placeholder {
  color: transparent;
}
.feedback__info-form-button {
  cursor: pointer;
  border-radius: 5px;
  background: #f57520;
  border: none;
  padding: 13px 38px;
  width: min-content;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
}
.feedback__info-form-button_hover:hover {
  background: #f5a020;
}
.feedback__info-form-checkbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.feedback__info-form-label {
  align-self: center;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.feedback__info-form-checkboxform {
  display: flex;
  gap: 8px;
}

.footer__info {
  background: #101010;
  padding-top: 91px;
}
.footer__info-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer__info-links {
  display: flex;
  gap: 91px;
}
.footer__info-catalog-links, .footer__info-client-links, .footer__info-contacts-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 219px;
}
.footer__info-catalog-links-title, .footer__info-client-links-title, .footer__info-contacts-links-title {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.24px;
}
.footer__info-catalog-links-link, .footer__info-client-links-link, .footer__info-contacts-links-link {
  width: 215px;
  display: flex;
  gap: 16px;
}
.footer__info-catalog-links-link-picture, .footer__info-client-links-link-picture, .footer__info-contacts-links-link-picture {
  align-self: center;
}
.footer__info-catalog-links-link-numbers, .footer__info-client-links-link-numbers, .footer__info-contacts-links-link-numbers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__info-catalog-links-link-numbers-number, .footer__info-client-links-link-numbers-number, .footer__info-contacts-links-link-numbers-number {
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.footer__info-catalog-links-link-adress, .footer__info-client-links-link-adress, .footer__info-contacts-links-link-adress {
  width: 167px;
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.footer__info-catalog-links-link-email, .footer__info-client-links-link-email, .footer__info-contacts-links-link-email {
  color: #fff;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.footer__info-catalog-links-item-link, .footer__info-client-links-item-link, .footer__info-contacts-links-item-link {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.footer__info-catalog-links-items, .footer__info-client-links-items, .footer__info-contacts-links-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}
.footer__company-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.footer__company-info-logo {
  width: 87px;
  height: 49px;
}
.footer__company-info-description {
  max-width: 289px;
  color: #b3b3b3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
.footer__line {
  background: #34312d;
  height: 1px;
  margin-bottom: 16px;
}
.footer__agreement {
  padding-bottom: 23px;
  display: flex;
  gap: 24px;
}
.footer__agreement-copyright {
  color: #777;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}
.footer__agreement-text {
  color: #777;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media (max-width: 1840px) {
  .container {
    max-width: calc(100vw - 255px);
  }
  .navbar-menu {
    display: none;
  }
  .navbar-menu_extra-extra-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .advantages__content-picture-1 {
    margin-left: -520px;
  }
  .best-models__title {
    max-width: max-content;
    margin-bottom: 137px;
  }
  .banners {
    height: 250px;
  }
  .banner-first {
    padding-left: 300px;
  }
  .banner-third {
    padding-right: 300px;
  }
}
@media (max-width: 1440px) {
  .partner {
    padding: 0;
  }
  .innovation {
    padding: 56px 0;
  }
  .catalog {
    padding: 56px 0;
  }
  .catalog__links {
    margin-bottom: 24px;
  }
  .best-models-cards {
    margin: 0;
    justify-content: center;
  }
  .banner-first {
    padding-left: 10vw;
  }
  .banner-third {
    padding-right: 10vw;
  }
  .recent-reviews__cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .recent-reviews {
    padding: 60px 0;
  }
  .advantages {
    padding: 60px 0;
  }
  .contacts {
    padding: 60px 0;
  }
  .mountain-bikes__content {
    gap: 16px;
    flex-direction: column;
  }
  .mountain-bikes__content-cards {
    justify-content: center;
  }
  .mountain-bikes__content-description {
    gap: 16px;
    flex-wrap: wrap;
    align-content: center;
  }
  .mountain-bikes__content-description-picture {
    width: 620px;
  }
  .mountain-bikes__content-description-text {
    width: 78vw;
    text-align: justify;
    align-self: center;
  }
  .mountain-bikes__content-description-form {
    align-self: center;
  }
  .mountain-bikes__title {
    max-width: max-content;
  }
}
@media (max-width: 1350px) {
  .container {
    max-width: 81vw;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-menu_extra-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-menu_extra-extra-large {
    display: none;
  }
  .innovation-cards {
    flex-wrap: wrap;
  }
  .innovation-card-1, .innovation-card-2 {
    max-width: none;
    width: 36vw;
  }
  .innovation-card-3 {
    min-width: 78vw;
  }
  .best-models-cards {
    flex-wrap: wrap;
  }
  .best-models-card-1, .best-models-card-2 {
    max-width: none;
    width: 36vw;
  }
  .best-models-card-3 {
    min-width: 78vw;
  }
  .catalog__lower-links {
    flex-direction: column;
  }
  .catalog__item {
    width: calc(100vw - 446px);
    padding: 0 100px;
    height: 300px;
    justify-content: center;
    flex-direction: row;
  }
  .catalog__item-2 {
    flex-direction: row-reverse;
    background-image: url("../../img/catalog-bike-2-adaptiv.png");
    background-size: 800px;
    background-position: left top;
  }
  .catalog__item-3 {
    background-color: #f57520;
    max-width: none;
    background-image: url("../../img/wheel-adaptiv.png");
    background-size: 800px;
    background-position: right top;
  }
  .catalog__item-4 {
    flex-direction: row-reverse;
    background-image: url("../../img/image 40 adaptiv.png");
    background-size: 800px;
    background-position: left top;
  }
  .catalog__item-5 {
    background-color: #f57520;
    background-image: url("../../img/шлем adaptiv.png");
    background-size: 800px;
    background-position: right top;
  }
  .catalog__item-6 {
    flex-direction: row-reverse;
    background-image: url("../../img/велостанок adaptiv.png");
    background-size: 800px;
    background-position: left top;
  }
  .catalog__item-title {
    align-self: center;
    margin: 0;
  }
  .catalog__item-img-1 {
    width: 35vw;
  }
  .company__advantages-cards {
    justify-content: space-between;
    gap: 40px;
  }
  .company__advantages-card-title-info {
    align-items: center;
  }
  .advantages__content {
    justify-content: center;
  }
  .advantages__content-picture {
    display: none;
  }
  .footer__info-links {
    gap: 0;
  }
  .advantages__content-card {
    width: 34vw;
    height: 148px;
  }
  .mountain-bikes__content-card {
    width: 34vw;
    height: 148px;
  }
  .mountain-bikes__content-description-picture {
    width: 78vw;
  }
  .recent-reviews__card {
    width: 38.7vw;
    height: 40vw;
  }
  .banner__description {
    font-size: 1.7vw;
  }
}
@media (max-width: 1180px) {
  .innovation-cards {
    flex-wrap: wrap;
  }
  .innovation-card {
    width: 78vw;
  }
  .mountain-bikes {
    padding-top: 80px;
  }
  .best-models-cards {
    flex-wrap: wrap;
  }
  .best-models-card {
    min-width: 78vw;
  }
  .best-models__title {
    margin-bottom: 80px;
  }
  .title {
    font-size: 4vw;
  }
  .company__advantages-cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  .company__advantages-card-title-info {
    align-items: center;
  }
  .company__info-title {
    font-size: 4vw;
  }
  .recent-reviews__card {
    width: 81.6vw;
    height: max-content;
  }
}
@media (max-width: 1000px) {
  .navbar-menu__primary {
    display: none;
  }
  .poster {
    padding-bottom: 95px;
  }
  .poster-info {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .poster-info__text {
    align-items: center;
  }
  .poster-info__text-title {
    text-align: center;
  }
  .poster-info__text-descriprion {
    text-align: justify;
    width: 500px;
  }
  .poster-swiper {
    display: none;
  }
  .banners {
    display: none;
  }
  .company__info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .company__info-description-text {
    align-self: center;
    width: 56vw;
    text-align: justify;
  }
  .company__info-description-link {
    align-self: center;
  }
  .catalog__item-1 {
    background-image: none;
  }
  .catalog__item-2 {
    background-image: none;
  }
  .catalog__item-3 {
    background-image: none;
  }
  .catalog__item-4 {
    background-image: none;
  }
  .catalog__item-5 {
    background-image: none;
  }
  .catalog__item-6 {
    background-image: none;
  }
  .feedback__info-form-textform {
    justify-content: center;
  }
  .feedback__info-form-checkboxform {
    justify-content: center;
  }
  .title {
    font-size: 6vw;
    text-align: center;
  }
  .best-models__title {
    max-width: none;
  }
  .mountain-bikes__title {
    max-width: none;
  }
  .contacts__info-cards {
    flex-wrap: wrap;
    gap: 40px;
  }
  .contacts__info-card {
    flex-basis: 250px;
  }
  .footer__info-content {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .footer__company-info {
    align-items: center;
    flex-direction: row;
  }
  .recent-reviews__card {
    height: max-content;
  }
}
@media (max-width: 792px) {
  body {
    background-image: none;
    background: black;
  }
  .company__video {
    display: none;
  }
  .company__advantages-cards {
    flex-direction: column;
    align-content: center;
  }
  .footer__company-info {
    flex-direction: column;
  }
  .footer__company-info-description {
    text-align: center;
  }
  .footer__info-links {
    gap: 40px;
    flex-direction: column;
    text-align: center;
  }
  .footer__catalog-links {
    justify-content: center;
  }
  .recent-reviews__card {
    height: max-content;
  }
  .contacts__info-cards {
    justify-content: center;
  }
  .advantages__content-cards {
    gap: 20px;
  }
  .advantages__content-card-title {
    width: auto;
  }
  .mountain-bikes__content-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mountain-bikes__content-card {
    width: 78vw;
  }
  .feedback {
    background-image: none;
  }
  .feedback__info-form-textform {
    flex-direction: column;
  }
  .feedback__info-form-input {
    width: auto;
  }
  .feedback__info-form-button {
    width: auto;
  }
  .mountain-bikes__content-description-picture {
    width: 95vw;
  }
  .title {
    font-size: 14vw;
  }
  .innovation-card {
    min-width: 78vw;
  }
  .innovation-card__picture {
    width: 200px;
  }
  .innovation-card__description {
    width: auto;
  }
  .advantages__content-cards {
    display: flex;
    flex-direction: column;
  }
  .advantages__content-card {
    width: 78vw;
  }
  .poster-info__text-descriprion {
    width: 69vw;
  }
  .poster-info__text-title {
    font-size: 15vw;
  }
  .catalog__item-title {
    font-size: 11vw;
  }
  .best-models-card__picture {
    width: 200px;
  }
  .best-models-card__description {
    width: auto;
  }
  .catalog__item {
    width: calc(100vw - 246px);
  }
  .best-models-card {
    width: min-content;
  }
}
@media (max-width: 680px) {
  .recent-reviews__card {
    height: max-content;
  }
}/*# sourceMappingURL=style.css.map */